//////////////////////////////////////////////////
// Template stuff below this line               //
/////////////////////////////////////////////////

//Header
template#page-header
    style(type='text/css').
        .pdfheader {
            width: 100%;
            font-family: "Titillium Web";
            font-size: 14px;
            text-align: center;
            border-bottom: 1px solid black;
            margin-top: 2.5mm;
            padding-bottom: 5mm;
        }
            .pdfheadertext {
            width: 100%;
            font-family: "Titillium Web";
            font-size: 14px;
            text-align: center;
        }
            .pdfheaderlogo {
            width: 10%;
            font-family: "Titillium Web";
            font-size: 14px;
            text-align: left;
            }
        }
    .pdfheader
        //.pdfheaderLogo
            include ./heatingelements/img/logo.svg
        .pdfheadertext #{ProductName} - User Manual

//footer
template#page-footer
    class(pageNumber)
    style(type='text/css').
        .pdffooter {
            Width: 100%;
            border-top: 1px solid black;
        }
        .pdffootertext {
            Width: 100%;
            font-family: "Titillium Web";
            font-size: 14px;
            text-align: center;
        }
        .pagenumbertext {
            Width: 90%;
            font-family: "Lato";
            color: 	#DF2B35;
            font-size: 15px;
            font-weight: SemiBold;
            margin-left: 5%; 
            text-align: center;
        }

    .pdffooter 
        .pdffootertext BrewPi.com 
        .pagenumbertext #[span.pageNumber]
