@page {
  margin: 4cm 1cm 4cm 0cm;
  background: white; // background color
  $line-color: black; // color of header and footer lines
}
html {
  padding-left: 1cm;
  padding-right: 1cm;
  font-size: 12px !important;
}
.chapter {
  page-break-before: always;
  counter-reset: h2;
}
.pagebreak {
  page-break-after: always;
}

$border-color: black; // color of borders on blocks
body {
  margin: 2cm;
  margin-right: 0cm;
  padding-top: 0cm; // making space for header
  padding-bottom: 0cm; // making space for footer
}

h1 {
  font-family: "Titillium Web";
  font-weight: normal;
  color: black;
  font-size: (22rem / 12);
}

h2 {
  font-family: "Titillium Web SemiBold";
  color: black;
  font-weight: normal;
  font-size: 16/12rem;
  page-break-after: avoid;
}
h3 {
  font-family: "Titillium Web";
  color: black;
  font-weight: normal;
  font-size: 15/12rem;
}
p {
  font-family: "Roboto";
  color: black;
  font-size: 1rem;
}
.image {
  width: 40%;
}

.step {
  flex-grow: 1;
  width: 50%;
  max-width: 10cm;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  // max-width: $grid__row-sz; //keeps sizes uniform, which in turn helps the layout
  .image {
    width: 100%; //$step_size * 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .caption {
    @extend .row;
    align-self: flex-start;
    .number {
      display: inline;
      font-family: "Titillium Web";
      font-size: (20rem / 12);
      padding-right: 5mm;
    }
    p {
      // display: inline;
    }
  }
}

//pretty tables here
table {
  page-break-inside: avoid;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Roboto";
  color: black;
  font-size: 1rem;
  padding: 3px;
}
tr {
  border-bottom: 1px solid grey;
}
tr:last-child {
  border-bottom: 1px solid black;
}
th {
  padding: 3px;
  border-left: 1px solid grey;
}
th:first-child {
  border-left: 1px solid black;
}

td {
  border-left: 1px solid grey;
  padding: 3px;
}
td:first-child {
  border-left: 1px solid black;
  padding: 3px;
}

.row {
  display: flex;
  flex-direction: row;
  page-break-inside: avoid;
}

.info-block {
  // block header
  background: rgb(221, 221, 221);
  border: 1px solid $border-color;
  margin: 1cm;
  padding: 5mm;
  .row {
    align-items: center;
  }
  .header {
    page-break-before: avoid;
    font-family: "Gill Sans MT";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: (22rem /12);
  }
  p {
    font-family: "Roboto";
    font-weight: Bold;
    font-stretch: condensed;
    font-size: 1rem;
  }
  .icon {
    max-width: 64px;
    align-self: center;
    justify-self: center;
    padding: 0 5mm;
  }
}

img {
  width: 680px;
  margin-left: -1cm;
}

//////////////////////////////////////////////////////
// This is an automatic numberer for headers        //
//////////////////////////////////////////////////////

body {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}
h5 {
  counter-reset: h6;
}

h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}
h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
h6:before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
}

h2.nocount:before,
h3.nocount:before,
h4.nocount:before,
h5.nocount:before,
h6.nocount:before {
  content: "";
  counter-increment: none;
}
