- var ProductName = "Foldback Heating Element"

//////////////////////////////////////////////////
// Content stuff below this line                //
/////////////////////////////////////////////////

//Importing Pug chapters
.titlepage
  include ./chapters/TitlePageHE.pug
.chapter
  include ./chapters/InstallingHE.pug


//importing header/footer

include ../HeaderFooter.pug

// Stylesheet
style
  include:scss ../style.scss
