////////////////////////////////////////////////////
// Variables for the more generic assets used     //
////////////////////////////////////////////////////
- var ProductName = "Foldback Heating Element"
- var VersionNumber = "Alpha 1.0"
- var LastModDate = "24-1-2020"
- var TitleImage = " ../img/TPimg.jpg"

//////////////////////////////////////////////////
// Content stuff below this line                //
/////////////////////////////////////////////////

//Importing Pug chapters
.titlepage
  include ../TitlePage.pug
.chapter
  include ./chapters/InstallingHE.pug


//importing header/footer

include ../HeaderFooter.pug

// Stylesheet
style
  include:scss ../style.scss
