.titleLogo
    include ./GenericAssets/img/logo.svg
img.titleImage(src=TitleImage)
h1.nocount User manual for the #{ProductName}
h3.nocount Version  : #{VersionNumber}
h3.nocount  Last Modified : #{LastModDate}
