- var ProductName = "Example"
//////////////////////////////////////////////////
// Content stuff below this line                //
/////////////////////////////////////////////////

//Importing Markdown texts

.chapter
  include:markdown-it(html=true) ChapterTest.md
.chapter
  include:markdown-it(html=true) LoremOfTheIpsums.md
.chapter
  include:markdown-it(html=true) ProlegomenaOfFutureLoremIpsums.md



//importing header/footer

include ../HeaderFooter.pug

// Stylesheet
style
  include:scss ../style.scss
