h1 Installing a Heating Element

h2 What you will need

p <b>Duration</b> 15 minutes

p.
    This section of the manual will explain to you how to install your heating element in a kettle using a BrewBlox
    heating element mounting kit.

.info-block
    .row
        .image.icon
            include ../img/icon_warningdark.svg
        div
            .header WARNING!
            p.
                Always consult a qualified electrician to install your heating element and to connect it to your control panel. 
                Always use a ground fault protected outlet or include a GFCI/RCD in your control panel.

:markdown-it
    | Parts                                                                    | Tools                                                                        |
    | :----------------------------------------------------------------------- | :--------------------------------------------------------------------------- |
    | Kettle (Please check the element will fit within your kettle's diameter) | Wire Strippers                                                               |
    | Cable 2.5mm<sup>2</sup>                                                  | Crimp Tool or Pliers                                                         |
    | Enclosure Kit, consisting of:                                            | Philips Screwdriver                                                          |
    | 1x Cable Gland                                                            | Adjustable Wrench (40mm)                                                     |
    | 1x Enclosure Body                                                         | 1¼" Holepunch                                                                |
    | 1x Enclosure Lid                                                          | Hand Held Drill (low speed, high torque)                                     |
    | 1x Locknut                                                                | Metal cutting drill bit (9.5mm, cobalt head for stainless steel recommended) |
    | 3x Eye lugs                                                            | 8mm (5/16") Alan Key                                                         |
    | 1x Red O-ring (size 218)                                                  | Optional: Hammer and Centre Punch Guide Drill Bit.                           |
    | 1x Thin white silicone washer                                             |                                                                              |

.pagebreak

h2 Legend
.image
    include ../img/cables-strip_legend-2phase.svg

h2 Preparation: Installing the Eye Lugs to the Cable

.row
    .step
        .caption
            .number 1.  
            p <b>Strip</b> 5cm off the cable jacket   
        .image
            include ../img/cables-strip_step1.svg

    .step
        .caption
            .number 2. 
            p <b>Shorten</b> the brown (live) and blue (neutral) wires to 3cm 
        .image 
            include ../img/cables-strip_step2.svg

.row        
    .step
        .caption
            .number 3. 
            p <b>Strip</b> 7mm off all 3 wire insulations
        .image 
        include ../img/cables-strip_step3.svg
        //this lets it align nicely
        .caption


    .step
        .caption
            .number 4.
            p <b>Crimp</b> an eye lug to each cable. <br> <b>Pull </b> to test that they are <b>fastened well</b> 
        .image 
        include ../img/cables-strip_step4.svg



h2 Installing the Enclosure
